    <header>
        <nav class="nav-principal">
            <span class="titulo">Musical shop</span>

            <div>
                <span id="nombreAlumno"></span>
                <input id="barraBusqueda" type="text", placeholder="Buscar...">
            </div>

            <span id="contadorCarrito">Carrito: 0 productos</span>
        </nav>

        <nav class="nav-secundario">
          <ul class="nav-links">
            <li><a href="/">Ver</a></li>
            <li><a href="/consultar">Consultar ID</a></li>
            <li><a href="/crear">Crear</a></li>
            <li><a href="/modificar">Modificar</a></li>
            <li><a href="/eliminar">Eliminar</a></li>
          </ul>
        </nav>
      <form action="/logout" method="POST" id="logout">
          <input type="submit" value="Cerrar sesion">
      </form>
        
    </header>