<header>
  <nav class="nav-principal">
    <span class="titulo">Musical shop</span>
    <img src="img/musical_shop_logo.png" alt="pagina_logo" />
    <div>
      <span id="nombreAlumno1">Martin Esquivel</span>
      <span id="nombreAlumno1">Thiago Formiga</span>
    </div>
  </nav>

  <nav class="nav-secundario">
    <ul class="nav-links">
      <li><a href="/">Ver</a></li>
      <li><a href="/consultar">Consultar ID</a></li>
      <li><a href="/crear">Crear</a></li>
      <li><a href="/modificar">Modificar</a></li>
      <li><a href="/eliminar">Eliminar</a></li>
      <li><a href="/subirImagen">Subir Imagen</a></li>
    </ul>
  </nav>
  <form action="/logout" method="POST" id="logout">
    <input type="submit" value="Cerrar sesion" />
  </form>
</header>
