<%- include ("partials/head.ejs") %>    
<%- include ("partials/nav.ejs") %>

<main>
    <h1><%= about %></h1>

    <form id="altaProducts-form" class="products-form-amplio">
    
        <label for="nombreProd">Nombre</label>
        <input type="text" name="nombre" id="nombreProd" required>
        <br>

        <label for="imagenProd">Imagen</label>
        <input type="text" name="imagen" id="imagenProd" required>
        <br>
        
        <label for="categoriaProd">Categoria</label>
        <select name="categoria" id="categoriaProd" required>
            <option value="CD">CD</option>
            <option value="VINILO">VINILO</option>
            <option value="CASSETTE">CASSETTE</option>
        </select>
        <br>
        
        <label for="precioProd">Precio</label>
        <input type="number" name="precio" id="precioProd" required>
        <br>

        <input type="submit" value="Crear producto">
    </form>

    <hr>
    <div id="contenedor-productos"></div>
</main>

<script src="js/crear.js"></script>

<%- include ("partials/footers.ejs") %>